{% load static %}
<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'home/custom.css' %}">
</head>
<body>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo"><i class="material-icons left">home</i>Liftit Test</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                {% if user.is_authenticated %}
                    <li {% if active == 'perfil' %} class="active" {% endif %}>
                        {% if user.propietario %}
                            <a href="{% url 'editar-propietario' user.propietario.pk %}"><i
                                    class="material-icons right">face</i>Perfil</a>
                        {% else %}
                            <a href="{% url 'crear-propietario' %}"><i class="material-icons right">face</i>Crear Perfil</a>
                        {% endif %}
                    </li>
                    <li {% if active == 'vehiculos-list' %} class="active" {% endif %}>
                        <a href="{% url 'vehiculos-list' %}"><i class="material-icons right">directions_car</i>Mis
                            Vehiculos</a>
                    </li>
                    <li {% if active == 'reportes' %} class="active" {% endif %}>
                        <a href="{% url 'dashboard' %}"><i class="material-icons right">donut_small</i>Reportes</a>
                    </li>
                    <li><a href="{% url 'logout' %}"><i class="material-icons right">exit_to_app</i>Logout</a></li>
                {% else %}
                    <li><a href="{% url 'signup' %}"><i class="material-icons right">person_add</i>Signup</a></li>
                    <li><a href="{% url 'login' %}"><i class="material-icons right">fingerprint</i>Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>
<ul class="sidenav" id="mobile-demo">
    <li><a href="{% url 'home' %}"><i class="material-icons right">home</i>Home</a></li>
    {% if user.is_authenticated %}
        <li {% if active == 'perfil' %} class="active" {% endif %}>
            {% if user.propietario %}
                <a href="{% url 'editar-propietario' user.propietario.pk %}"><i
                        class="material-icons right">face</i>Perfil</a>
            {% else %}
                <a href="{% url 'crear-propietario' %}"><i class="material-icons right">face</i>Crear Perfil</a>
            {% endif %}
        </li>
        <li {% if active == 'vehiculos-list' %} class="active" {% endif %}>
            <a href="{% url 'vehiculos-list' %}"><i class="material-icons right">directions_car</i>Mis
                Vehiculos</a>
        </li>
        <li {% if active == 'reportes' %} class="active" {% endif %}>
            <a href="{% url 'dashboard' %}"><i class="material-icons right">donut_small</i>Reportes</a>
        </li>
        <li><a href="{% url 'logout' %}"><i class="material-icons right">exit_to_app</i>Logout</a></li>
    {% else %}
        <li><a href="{% url 'signup' %}"><i class="material-icons right">person_add</i>Signup</a></li>
        <li><a href="{% url 'login' %}"><i class="material-icons right">fingerprint</i>Login</a></li>
    {% endif %}
</ul>
<div id="main" class="container-fluid">
    {% block content %}
    {% endblock %}
</div>
<div class="footer-copyright">
    <p align="center">Desarrollado por
        <a href="http://audeldiaz.work" target="_blank" title="@AudelDiaz">@AudelDiaz</a>
        para <a href="http://liftit.co" title="Liftit" target="_blank">Liftit</a>.
    </p>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
    });
</script>
{% block js %}
{% endblock %}
</body>
</html>
