.errorlist {
    color: red;
    font-weight: bold;
}

.footer-copyright {
    bottom: 0;
    left: 0;
    width: 100% !important;
    padding: 1rem;
    margin-top: 10rem;
}
select {
    display: inline;
}
.sidenav-overlay {
    display: none;
}
#main {
    min-height: 700px;
}